.component-knob {
  width: 50px;
  float: left;
  padding: 5px;
  font-size: 12px;
}

.component-knob .name {
  text-align: center;
  margin-bottom: 3px;
}

.component-knob .knob {
  margin: 0 auto 3px auto;
  width: 30px;
  height: 30px;
  background-image: url('./assets/knob.png');
  background-size: contain;
  background-repeat: none;
}

.component-knob input.number {
  border: none;
  background: none;
  text-align: center;
  width: 60px;
  font-size: 12px;
}
